body {
  font-family: 'Sarabun', sans-serif;
  background: #f5f6fa;
  text-align: center;
  padding: 30px;
}

h1 {
  color: #000;
}

input {
  width: 260px;
  height: 45px;
  font-size: 16px;
  padding: 10px;
  margin: 5px;
  border-radius: 12px;
  border: 1px solid #6e6a6a;
}

button {
  padding: 10px 20px;
  margin: 10px;
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #45a049;
}

.card {
  background: white;
  padding: 20px;
  margin: 10px auto;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.task {
  background: #e9e9e9;
  padding: 14px;
  margin: 10px auto;
  width: 300px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}
